{% extends "wholesale/base.html" %}
{% load wholesale %}

{% block main %}
<div class="page-header">
    <h1>Contact Us</h1>
</div>
{% snippet "contact-top" %}
<div class="row">
    <div class="span6">
        {% if success %}
        <div class="alert alert-success alert-block">
            <a class="close" data-dismiss="alert" href="#">×</a>
            <h4 class="alert-heading">Message Sent</h4>
            Thanks for your message. We'll be in contact soon
        </div>
        {% endif %}
        <form action="." method="post">
            {% csrf_token %}
            <div class="control-group{% if form.name.errors %} error{% endif %}">
                <label>Name</label>
                <div class="controls">
                    <input type="text" class="span6" name="name" value="{% if form.name.value %}{{ form.name.value }}{% endif %}" placeholder="Your name">
                </div>
                {% if form.name.errors %}
                <span class="help-block">{{ form.name.errors|first }}</span>
                {% endif %}
            </div>
            <div class="control-group{% if form.email.errors %} error{% endif %}">
                <label>Email</label>
                <div class="controls">
                    <input type="email" class="span6" name="email" value="{% if form.email.value %}{{ form.email.value }}{% endif %}" placeholder="Your email address">
                </div>
                {% if form.email.errors %}
                <span class="help-block">{{ form.email.errors|first }}</span>
                {% endif %}
            </div>
            <div class="control-group{% if form.message.errors %} error{% endif %}">
                <label>Message</label>
                <div class="controls">
                    <textarea rows="8" class="span6" name="message" placeholder="Your message">{% if form.message.value %}{{ form.message.value }}{% endif %}</textarea>
                </div>
                {% if form.message.errors %}
                <span class="help-block">{{ form.message.errors|first }}</span>
                {% endif %}
            </div>
            <button type="submit" class="btn btn-large btn-primary btn-send" data-loading-text="Sending Message...">Send Message</button>
        </form>
    </div>
    <div class="span6">
        {% snippet "contact-aside" %}
    </div>
</div>
{% snippet "contact-bottom" %}
{% endblock main %}
